@use '../responsive.scss';

.homePage {
  display: flex;
  height: 100%;

  .text-container {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include responsive.md {
        padding: 0;
      }

      @include responsive.sm {
        justify-content: flex-start;
      }

      .title {
        font-size: 4rem;

        @include responsive.lg {
          font-size: 3rem;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include responsive.sm {
          display: none;
        }

        h2 {
          font-size: 36px;

          @include responsive.lg {
            font-size: 2rem;
          }
        }

        p {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .image-container {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    @include responsive.md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: 0;

      @include responsive.lg {
        width: 105%;
      }
    }
  }
}
