@use './responsive.scss';

.layout {
  height: 100vh;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @include responsive.lg {
    background-color: rgb(230, 243, 205);
    max-width: 1280px;
  }

  @include responsive.md {
    background-color: rgb(201, 216, 244);
    max-width: 768px;
  }

  @include responsive.sm {
    background-color: rgb(240, 200, 200);
    max-width: 640px;
  }
}
