@use '../../responsive.scss';

.searchBar {
  .type {
    button {
      padding: 10px 20px;
      border: 1px solid #999;
      color: black;
      cursor: pointer;
      text-transform: capitalize;
      border-bottom: none;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 5px;
        border-right: none;
      }

      &:last-child {
        border-top-right-radius: 5px;
        border-left: none;
      }
    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 64px;

    @include responsive.sm {
      flex-direction: column;
      border: none;
    }

    input {
      border: none;
      padding: 0px 10px;
      width: 100%;
      border-left: 1px solid #999;

      &:nth-child(1) {
        border-left: none;
      }

      // @include responsive.lg {
      //   padding: 0px 5px;

      //   &:nth-child(2),
      //   &:nth-child(3) {
      //     width: 140px;
      //   }
      // }

      // @include responsive.md {
      //   padding: 0px 5px;

      //   &:nth-child(2),
      //   &:nth-child(3) {
      //     width: auto;
      //   }
      // }
      @include responsive.sm {
        border: 1px solid #999;

        padding: 2%;

        &:nth-child(1) {
          border-left: 1px solid #999;
        }

        &:nth-child(2),
        &:nth-child(3) {
          border-top: none;
        }
      }
    }

    button {
      border: none;
      cursor: pointer;
      background-color: #d3a123;
      padding-left: 5%;
      padding-right: 5%;

      &:hover {

        background-color: #a5790a;
      }

      // @include responsive.lg {
      //   padding-left: 5%;
      //   padding-right: 5%;
      // }

      // @include responsive.md {
      //   padding-left: 5%;
      //   padding-right: 5%;
      // }

      @include responsive.sm {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
